html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Hide scrollbars */
    background-color: #f0f0f0; /* A light background for the margins */
}

.game-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#game-wrapper {
    display: flex;
    width: 1424px; /* 1024 + 400 */
    height: 880px;
    transform-origin: center;
}

#main {
    width: 1024px;
    height: 880px;
    border: 1px solid black;
}

#info-area {
    width: 400px;
    height: 880px;
    border: 1px solid black;
}

.clearHex {
    /* fill: #a2ba79 */
    fill: white;
}
