.game-container {
    display: flex;
}

#main {
    width: 1024px;
    height: 880px;
    border: 1px solid black;
}

#info-area {
    width: 400px;
    height: 880px;
    border: 1px solid black;
}

.clearHex {
    /* fill: #a2ba79 */
    fill: white;
}